div {
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.circle {
    border-radius: 50%;
}

.square {
    height: 100px;
    width: 100px;
    background-color: yellow;
}